.mostImportantGridDiv {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr max-content;
    height: 100vh;
    left: 0px;
    position: absolute;
    width: 100%;
    color: rgb(0,0,0);
}

.head {
    background:  #2e7d32;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 2;
    overflow: hidden;
    padding: 0px 64px 36px;
}

.div1 {
    margin-bottom: 80px;
    margin-top: 40px;
    opacity: 0.6;
}

.div2 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 48px;
    min-height: 48px;
    min-width: 147px;
    width: 147px;
}

.div3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}

.div3h2 {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 80px;
    text-decoration: unset;
}

.div4 {
    -webkit-box-flex: 10;
    flex-grow: 10;
}

.div4 span {
    margin: 0px;
    /* color: rgb(0,0,0);; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 24px;
    text-decoration: unset;
}
.span1 {
    color: rgb(255,255,255);
}

.main {
    background: rgba(255,255,255);
    grid-area: 1 / 2 / 2 / 3;
    padding: 160px 64px 48px;
}

.maindiv3 {
    margin-bottom: 48px;
}

.maindiv3 span {
    margin: 0px;
    color: rgb(0,0,0);
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 28px;
    text-decoration: unset;
}

.maindiv4 {
    margin-top: 24px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.maindiv4div1 {
    flex: 0 0 50%;
    padding-right: 24px;
}

.maindiv4div1 div{
    min-width: 39px;
    width: 100%;
    max-width: initial;
}

.maindiv4div2 {
    flex: 0 0 50%;
}

.maindiv4div2 div{
    min-width: 39px;
    width: 100%;
    max-width: initial;
}

.inputField3 {
    margin-top: 24px;
    width: 100%;
}

.inputField3 div{
    min-width: 39px;
    width: 30ch;
    max-width: initial;
}

/* .formC {
    margin-top: 25px;
    margin-right: 10px;
    width: 100%;
} */

/* .inputField4 div{
    min-width: 67px;
    width: 100%;
    max-width: initial;
} */
.loginLink {
    display: flex;
    margin-top: 40px;
}

.loginLinkText{
    margin: 0px;
    color: rgb(0,0,0);
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 20px;
    text-decoration: unset;
}

.loginLinkLink{
    margin: 0px;
    color: rgb(0,0,0);
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 20px;
    text-decoration: unset;
}

.footer {
    background: rgb(255,255,255);
    bottom: 0px;
    grid-area: 2 / 2 / 3 / 3;
}

.footerDiv1 {
    background-color: rgb(0,0,0);
    height: 4px;
    width: 2.5%;
}

.footerDiv2 {
    background-color: rgb(0,0,0);
    height: 1px;
    width: 100%;
}

.footerDivWithContent {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 36px 24px;
}

.footerDivWithContentDiv1 {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.footerDivWithContentDiv1Div {
    width:  100%;
}

@media only screen and (max-width: 768px) {
    .head {
        border-bottom: 1px solid rgb(0,0,0);
        grid-area: auto / 1 / auto / -1;
        padding: 40px 24px;
    }
    .main {
        grid-area: auto / 1 / auto / -1;
    padding: 24px 24px 128px;
    }
}
@media only screen and (min-width: 768px) {
    .head {
        border-right: 1px solid rgb(0,0,0);
    }
    .main {
        overflow-y: auto;
    }
}